.trust-strip {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 2rem 1rem 1rem 1rem;

  svg {
    font-size: 1.5rem;
    color: #fdf056;
  }

  .row {
    margin: 0px;
  }

  a {
    text-decoration: underline;
    font-weight: 900;
  }
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 870px) {
  .trust-strip {
    display: none;
  }
}
