.uncertainty {
  background-color: black;
  padding: 2.833em 2.5em;
  color: white;

  h2 {
    font-size: 1.889rem;
    line-height: 1;
  }

  .btn {
    background-color: transparent !important;
    color: $primary;
    border-color: $primary;
  }

  p {
    display: flex;
    margin: 1.667rem 0;
  }

  p:before {
    content: "";
    background-color: $primary;
    top: 0;
    left: 0;
    margin-right: 2rem;
    width: 1.5rem;
    height: auto;
    clip-path: polygon(100% 0, 100% 95%, 55% 100%, 0 95%, 0 0);
  }
}

.tabs {
  margin-top: 3.611em;
  display: flex;
  flex-direction: column;
  gap: 1.61rem;
  color: white;

  h2 {
    font-family: $primary-font !important;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1;
    margin: 0;
  }

  h2:after {
    content: "";
    background-color: $primary;
    width: 30%;
    height: 0.611em;
    position: relative;
    display: block;
    margin-top: 0.889rem;
    clip-path: polygon(0 0, 94% 0, 100% 50%, 94% 100%, 0 100%);
    transition: width 0.5s ease 0s;
  }

  h2:hover::after {
    width: 100%;
  }

  .outer {
    background-color: black;
  }

  .inner {
    position: relative;
    padding: 2.222em;
    width: 100%;
    background-position: 50% 50%;
    overflow: hidden; // makes sure the pseudo doesn't spill

    a:hover {
      cursor: pointer;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.4; // default
      z-index: 0;
      transition: opacity 1.5s ease;
    }

    &:hover::before {
      opacity: 0.2; // on hover
      cursor: pointer;
    }

    > * {
      position: relative;
      z-index: 1;
    }

    &.one::before {
      background-image: url("/sidebar.jpg");
    }

    &.two::before {
      background-image: url("/sidebartwo.jpg");
    }

    &.three::before {
      background-image: url("/sidebarthree.jpg");
    }
  }
}
