// variables.scss
@import url("https://use.typekit.net/rfq2kdc.css");

$primary: rgb(254, 238, 80);
$light: rgb(239, 239, 239);
$grey: rgb(121, 122, 127);
$dark: rgb(25, 25, 25);
$secondary: rgb(121, 122, 127);
$tertiary: rgb(25, 25, 25);
$quaternary: rgb(25, 25, 25);
$white: rgb(255, 255, 255);
$text: rgb(0, 0, 0);
$black: rgb(0, 0, 0);

$primary-font: "proxima-nova", "trebuchet ms", sans-serif;
$secondary-font: "din-condensed", "impact", sans-serif;

$general-spacing: 2.556rem;
$horizontal-spacing: 2.778rem;
$vertical-spacing: 5.889rem;
